/* BG-footer */

.image-footer-container{
    background-image: url(../images/bg-footer.png);
    width: 375px ;
    height: 1090px;
    margin-top: 3em;
}

/* Imagem-footer */

.image-logo-battlenet{
   margin: -20% 7%;
   position: relative;
   width:160px;
   height:20px;
}

/* Conteúdo-footer-1 */

.titulo-footer {
    font-family: var(--fonte-header-titulo);
    color: var(--color-header);
    font-size: 28px;
    width: 277px;
    margin: 150px 30px;
}

/* Conteúdo-footer-2 */
.conteudo-footer-container_2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -4em;
    margin-top: -5em;
}

.texto-footer-2{
    font-family: var(--fonte-header-texto);
    color: var(--color-header);
    font-size: 18px;
    margin-left: -4em;
}

/* Conteúdo-footer-3 */

.conteudo-footer-container_3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -2.3em;
    margin-top: 3em;
}

.texto-footer-3 {
    font-family: var(--fonte-header-texto);
    color: var(--color-header);
    font-size: 18px;
    margin-left: -2.5em;
}

/* Conteúdo-footer-4 */

.conteudo-footer-container_4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -2.3em;
    margin-top: 3em;
}

.texto-footer-4 {
    font-family: var(--fonte-header-texto);
    color: var(--color-header);
    font-size: 18px;
    margin-left: -2.5em;
}

/* Botão-footer */

.botao-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3em 7em 0 1.5em;
    text-align: center;
    position: relative;
    padding: 10px 8px;
    top: 10px;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: var( --color-button);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.botton-footer {
    font-family: var(--fonte-header-botao);
    color: var(--color-header);
    font-size: 16px;
    margin-left: -1em;
}

/* Conteúdo-footer-5 */

.conteudo-footer-container_5{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 240px;
    margin-left: 1.5em;
    margin-top: 3em;
}

.texto-footer-5 {
    font-family: var(--fonte-header-texto);
    color: var(--color-header);
    font-size: 14px;
    margin-left: 2em;
    line-height: 21px;
}

/* Imagem-final-footer */
.imagem-interface-back {
    position: relative;
    margin-top: 10px;
    margin-left: 40px;
}

.imagem-interface----front {
    position: absolute;
    bottom: -2660px;
    left: 50px;
    
}

/* Final-footer */

.final-footer {
    font-family: var(--fonte-header-texto);
    color: var(--color-header);
    font-size: 14px;
    margin-left: 2em;
    margin-top: 30px;
    text-align: center;
    line-height: 21px;
}



