/* Imagem-Header */

.cabecalho__Imagem-Header {
    background: url(../images/Imagem-header.png);
    background: radial-gradient(73.1% 73.1% at 52.6% 25.14%, rgba(2, 2, 3, 0) 0%, #020203 71.1%);
    position: absolute;
    width: 375px;
    height: 625px;
    opacity: 50%;
    mix-blend-mode: multiply;
}


/* Menu-Header */
.cabecalho__superior {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: -600px 24px;
    position:relative;
}

.cabecalho__menu-hambuguer {
    background-image: url(../images/menu.svg);
    width: 30px;
    height: 18.67px;
}

.header-sup-container {
    display: flex;
    align-items: center;
}

